:root
{
  --purple: #54457F;
  --orange: #F26419;
  --yellow: #FFD23F;
  --teal: #379392;
  --pink: #FF82A9;
  --light_purple: #7B709B;
  --light_orange: #f69663;
  --light_yellow: #FFEDB2;
  --light_teal: #82d0d0;
  --light_pink: #ffbdd1;
}
/*
*
* ==========================================
* TABS
* ==========================================
*
*/
.tabcontent {
    display: none;
  }
  
/*
*
* ==========================================
* COLLAPSIBLE PURPLE
* ==========================================
*
*/
  details {
    user-select: none;
    background-color: var(--light_purple);
  }
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
  }
  
  details[open] summary span.icon {
    transform: rotate(180deg);
  }
  
  summary {
    display: flex;
    cursor: pointer;
    margin: 5px 0px;
    padding: 5px;
    color: white;
    background-color: var(--purple);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

/*
*
* ==========================================
* COLLAPSIBLE TEAL
* ==========================================
*
*/
.det_tea {
    user-select: none;
    background-color: var(--light_teal);
  }

.sum_tea {
    display: flex;
    cursor: pointer;
    margin: 5px 0px;
    padding: 5px;
    color: white;
    background-color: var(--teal);
  }

/*
*
* ==========================================
* COLLAPSIBLE PINK
* ==========================================
*
*/
.det_pin {
    user-select: none;
    background-color: var(--light_pink) ;
  }

.sum_pin {
    display: flex;
    cursor: pointer;
    margin: 5px 0px;
    padding: 5px;
    color: white;
    background-color: var(--pink);
  }

/*
*
* ==========================================
* COLLAPSIBLE YELLOW
* ==========================================
*
*/
.det_yel {
  user-select: none;
  background-color: var(--light_yellow) ;
}

.sum_yel {
  display: flex;
  cursor: pointer;
  margin: 5px 0px;
  padding: 5px;
  color: white;
  background-color: var(--yellow);
}

/*
*
* ==========================================
* COLLAPSIBLE ORANGE
* ==========================================
*
*/
.det_ora {
  user-select: none;
  background-color: var(--light_orange) ;
}

.sum_ora {
  display: flex;
  cursor: pointer;
  margin: 5px 0px;
  padding: 5px;
  color: white;
  background-color: var(--orange);
}

/*
*
* ==========================================
* SLIDER
* ==========================================
*
*/

  /*Basic structure of slider*/
.container_slide{
  overflow: hidden;
  margin: 20px;
}

/*Area of images*/
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.slider_img{
  width: 100%;
}

/*Animation activated by keyframes*/
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}